* {
  color: rgb(240, 240, 252);
}

body {
  background-color: black;
}


#main-body {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: rgb(255, 165, 217);
  /* margin-left: 20px; */
}
#bored-button {
  color: black;
}