* {
  color: rgb(255, 225, 250);
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: black;

  margin-top: auto;

  /* display: flex will center the #main-body content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#main-body {
  margin-left: auto;
  margin-right: auto; 
  width: auto; 
  
}

#favs-list {

}

h1 {
  color: rgb(255, 165, 217);
  /* margin-left: 20px; */
}

button {
  color: black;
}

#fav-button {
  /* display: none; */
}